<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <header style="width: 50%; margin: auto">
      <%- include('./partials/nav.ejs') %>

      <h1 style="font-size: 2.1rem; color: red">About me</h1>
    </header>
    <h3 style="width: 500px; margin: auto; color: blueviolet">
      Erfan.fulldevs@gmail.com
    </h3>
    <div class="about content">Oops -page not found</div>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem explicabo
      aperiam odio veniam quos laudantium ipsam non sed, dolorem expedita.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae deleniti
      tenetur perspiciatis.
    </p>

    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
